In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [63]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Demyanovo,RU,2022-02-11 00:11:51,60.3511,47.0842,19.65,94,100,8.10
1,1,Tautira,PF,2022-02-11 00:11:51,-17.7333,-149.1500,87.82,70,59,11.72
2,2,Arraial Do Cabo,BR,2022-02-11 00:11:52,-22.9661,-42.0278,73.44,84,100,2.01
3,3,Saint-Francois,FR,2022-02-11 00:11:52,46.4154,3.9054,47.41,92,100,0.00
4,4,Fort Nelson,CA,2022-02-11 00:11:52,58.8053,-122.7002,36.99,38,40,20.71
5,5,Avarua,CK,2022-02-11 00:02:23,-21.2078,-159.7750,84.25,70,40,14.97
6,6,Tuktoyaktuk,CA,2022-02-11 00:11:53,69.4541,-133.0374,-15.45,96,100,17.69
7,7,Albany,US,2022-02-11 00:07:43,42.6001,-73.9662,37.08,82,50,4.68
8,8,Mar Del Plata,AR,2022-02-11 00:00:29,-38.0023,-57.5575,74.08,90,0,24.00
9,9,Gurlan,UZ,2022-02-11 00:11:54,41.8447,60.3919,39.27,57,100,4.76

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [39]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
# Call the figure to plot the data.
fig = gmaps.figure(center=(30.0, 32.0), zoom_level=.9)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [40]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [41]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"] 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds,
dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [42]:
# Heatmap of percent Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"] 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind,
dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [43]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 80

In [44]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Arraial Do Cabo,BR,2022-02-11 00:11:52,-22.9661,-42.0278,73.44,84,100,2.01
8,8,Mar Del Plata,AR,2022-02-11 00:00:29,-38.0023,-57.5575,74.08,90,0,24.00
11,11,Tres Picos,MX,2022-02-11 00:11:54,15.8667,-93.5333,79.81,61,1,4.41
12,12,Hobyo,SO,2022-02-11 00:11:55,5.3505,48.5268,74.98,65,51,20.04
18,18,Edd,ER,2022-02-11 00:11:57,13.9297,41.6925,78.55,62,36,15.12
19,19,Rikitea,PF,2022-02-11 00:11:57,-23.1203,-134.9692,79.50,71,59,16.60
23,23,Mahajanga,MG,2022-02-11 00:11:58,-15.7167,46.3167,77.02,94,40,2.30
24,24,Georgetown,MY,2022-02-11 00:00:38,5.4112,100.3354,78.89,89,20,0.00
27,27,Te Anau,NZ,2022-02-11 00:11:59,-45.4167,167.7167,72.28,50,12,1.81
28,28,Gigmoto,PH,2022-02-11 00:11:59,13.7796,124.3900,78.22,78,100,11.27

In [45]:
preferred_cities_df.count()

City_ID       143
City          143
Country       140
Date          143
Lat           143
Lng           143
Max Temp      143
Humidity      143
Cloudiness    143
Wind Speed    143
dtype: int64

In [46]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
2   Arraial Do Cabo      BR     73.44 -22.9661  -42.0278
8     Mar Del Plata      AR     74.08 -38.0023  -57.5575
11       Tres Picos      MX     79.81  15.8667  -93.5333
12            Hobyo      SO     74.98   5.3505   48.5268
18              Edd      ER     78.55  13.9297   41.6925
19          Rikitea      PF     79.50 -23.1203 -134.9692
23        Mahajanga      MG     77.02 -15.7167   46.3167
24       Georgetown      MY     78.89   5.4112  100.3354
27          Te Anau      NZ     72.28 -45.4167  167.7167
28          Gigmoto      PH     78.22  13.7796  124.3900

In [47]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [57]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
   # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [58]:
hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Arraial Do Cabo,BR,73.44,-22.9661,-42.0278,Pousada Porto Praia
8,Mar Del Plata,AR,74.08,-38.0023,-57.5575,Gran Hotel Mar del Plata
11,Tres Picos,MX,79.81,15.8667,-93.5333,Tres picos Chiapas
12,Hobyo,SO,74.98,5.3505,48.5268,Halane Hotel and Restaurent
18,Edd,ER,78.55,13.9297,41.6925,

In [59]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [60]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [62]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))